.Portfolio {
  padding-left: 200px;
  padding-top: 63px;
  transition: 0.8s;
  white-space: nowrap;
}

.Portfolio-container {
  display: flex;
  width: calc(100vw - 270px);
  min-width: 815px;
  overflow: auto;
  padding: 0px 0px 107px 0px;
}

.Portfolio-block-title {
  color: #fff;
  text-shadow: 0px -19px rgba(255, 255, 255, 0.11);
  font-size: 44px;
  font-weight: 500;
}

.Portfolio-dots {
  display: flex;
  justify-content: center;
  width: calc(100vw - 270px);
  min-width: 815px;
}

.Portfolio-dot {
  background-color: rgba(225, 174, 0, 0.5);
  height: 9px;
  width: 9px;
  border-radius: 50%;
  margin: 0px 7px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: background-color 0.3s;
}

.active,
.Portfolio-dot:hover {
  background-color: #e1ae00;
}

/* .Portfolio-dots > a:hover {
  background-color: rgba(225, 174, 0, 0.7) !important;
} */

@media (max-width: 1010px) {
  .Portfolio-container {
    min-width: 700px;
  }

  .Portfolio-dots {
    min-width: 700px;
  }
}

@media (max-width: 905px) {
  .Portfolio {
    padding-left: 65px;
  }
}

@media (max-width: 767px) {
  .Portfolio {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Portfolio-container {
    min-width: 0px;
    width: auto;
  }

  .Portfolio-dots {
    min-width: 0px;
    width: auto;
  }
}
