.Portfolio {
    padding-left: 300px;
    padding-top: 150px;
    overflow: hidden;
}

.Portfolio-block-title {
    color: #fff;
    text-shadow: 0px -19px rgba(255, 255, 255, 0.11);
    font-size: 44px;
    font-weight: 500;
}

.Portfolio-project-block {
    /* margin-bottom: 100px; */
    display: flex;
    align-items: flex-start;
}

.Portfolio-project-image {
    width: 525px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}

.Portfolio-project-description-block {

}

.Portfolio-project-title-block {
    display: flex;
    align-items: flex-start;
}

.Logo {
    margin-right: 10px;
}

.Portfolio-project-title {
    color: #fff;
}

.Portfolio-project-description {
    color: #fff;
}

.Portfolio-project-button {
    padding: 1px 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #e1ae00;
    margin-top: 10rem;
    cursor: pointer;
}

.Portfolio-project-button:hover {
    background: rgba(225, 174, 0, 0.4);
}

.Portfolio-project-button-text {
    color: #fff;
    margin: 10px;
    letter-spacing: 5px;
}


