.Portfolio {
    padding-left: 300px;
    padding-top: 150px;
    overflow: hidden;
}

.Project-Natours {
    display: none;
}

.Portfolio-block-title {
    color: #fff;
    text-shadow: 0px -19px rgba(255, 255, 255, 0.11);
    font-size: 44px;
    font-weight: 500;
}

.Portfolio-project-block {
    margin-right: 100px;
    width: 1080px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.Portfolio-project-image {
    width: 595px !important;
    height: 333px;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
}

.Portfolio-project-description-block-1 {
    margin-left: 55px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 333px;
}

.Portfolio-project-description-block-2 {
    margin-right: 55px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 333px;
}

.Portfolio-project-description-block-3 {
    display: none;
}

.Portfolio-project-title-block {
    display: flex;
    align-items: flex-start;
}

.Logo {
    margin-right: 10px;
}

.Portfolio-project-title {
    color: #fff;
}

.Portfolio-project-text {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
}

.Portfolio-project-bottom-text {
    font-size: 25px;
}

.Portfolio-project-button {
    /* width: 126px; */
    padding: 1px 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #e1ae00;
    /* margin-top: 10rem; */
    cursor: pointer;
}

.Portfolio-project-button:hover {
    background: rgba(225, 174, 0, 0.4);
}

.Portfolio-project-button-text {
    color: #fff;
    margin: 10px;
    letter-spacing: 5px;
}

.Portfolio-More-Block {
    padding-left: 20px;
    border-left: dashed #e1ae00;
}

.Project-toggle {
    display: none;
}

@media (max-width: 1410px) {
    .Portfolio-project-block {
        display: inline;
    }

    .Project-Natours {
        display: inline;
    }

    .Portfolio-project-block-2 {
        display: none;
    }

    .Portfolio-project-image {
        width: 595px;
        height: auto;
    }

    .Portfolio-project-description-block-1 {
        margin-left: 0px;
        margin-top: 20px;
        display: flex;
        justify-content: initial;
    }

    .Portfolio-project-text {
        max-width: 595px;
    }

    .Portfolio-project-button {
        margin-top: 1rem;
        /* width: 173px; */
    }

    .Project-toggle {
        display: block;
    }

}

@media (max-width: 905px) {
    .Portfolio {
        padding-left: 65px;
    }

    .Portfolio-project-bottom-text {
        font-size: 22px;
    }    
}

@media (max-width: 767px) {
    .Portfolio {
        padding-left: 20px;
    }
}

@media (max-width: 520px) {
    .Portfolio {
        padding-top: 75px;
    }

    .Portfolio-project-image {
        width: 380px !important;
    }

    .Portfolio-project-text {
        max-width: 380px;
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .Portfolio-project-image {
        width: 270px !important;
    }
}
