.HomeHero {
  padding-left: 200px;
  padding-top: 63px;
  /* padding-right: 515px; */
}

.HomeHero-hello {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.HomeHero-myName {
  color: #e1ae00;
  font-size: 44px;
  font-weight: 500;
}

.HomeHero-iAm {
  color: #fff;
  font-size: 44px;
  font-weight: 500;
}

.HomeHero-quickPres {
  color: #757575;
  font-size: 24px;
  line-height: 35px;
  text-align: justify;
  margin-bottom: 48px;
}

.HomeHero-callToActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 675px;
}

.HomeHero-contact {
  padding: 10px;
  border: 2px solid #e1ae00;
  text-align: center;
  border-radius: 3px;
}

.HomeHero-contact-text {
  margin: 0px;
  color: #e1ae00;
  font-weight: 400;
  letter-spacing: 1px;
}

.HomeHero-myWork-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeHero-myWork-text {
  color: #fff;
  font-weight: normal;
  letter-spacing: 1px;
}

.HomeHero-myWork-icon {
  color: #fff;
  font-size: 25px;
}

@media (max-width: 1010px) {
  .HomeHero {
    padding-right: 70px;
    min-width: 700px;
  }

  .HomeHero-nextLine {
    display: none;
  }

  .HomeHero-callToActions {
    width: auto;
  }
}

@media (max-width: 905px) {
  .HomeHero {
    padding-left: 65px;
  }
}

@media (max-width: 767px) {
  .HomeHero {
    min-width: 0px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .HomeHero-quickPres {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .HomeHero-myWork {
    display: none;
  }

  .HomeHero-contact {
    padding: 17px;
  }
}
