.About {
  padding-left: 300px;
  padding-top: 125px;
  display: flex;
  min-width: 1000px;
}

.About-block {
  width: 51%;
}

.About-block-title {
  color: #fff;
  text-shadow: 0px -19px rgba(255, 255, 255, 0.11);
  font-size: 44px;
  font-weight: 500;
}

.About-block-text {
  color: #fff;
  font-size: 18px;
  line-height: 35px;
  text-align: justify;
  font-weight: lighter;
}

.About-block-text-message {
  color: #fff;
  border-bottom: 3px solid #e1ae00;
  cursor: pointer;
}

.About-block-competencies {
  display: flex;
  justify-content: space-between;
}

.About-block-competency {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.About-block-competency-text {
  color: #fff;
  margin: 0px 0px 0px 10px;
  font-size: 18px;
  font-weight: lighter;
}

.About-block-competency-arrow {
  color: #e1ae00;
  font-size: 23px;
}

.About-image {
  padding: 239px 0px 0px 59px;
}

.About-image-block {
  background-image: url('../../assets/images/me.jpg');
  height: 220px;
  width: 325px;
  background-repeat: no-repeat;
  border: 1px solid #e1ae00;
  background-position: 50% 50%;
  background-size: cover;
}

.About-image-wrapper {
  position: relative;
}

.About-image-yellowForm {
  position: absolute;
  width: 157px;
  height: 90px;
  background-color: #e1ae00;
  top: 67%;
  left: 57%;
  z-index: -1;
}

@media (max-width: 1010px) {
  .About {
    display: inherit;
    padding-right: 70px;
    min-width: 700px;
  }

  .About-block {
    width: auto;
  }

  .About-image {
    padding: 40px 0px 0px 0px;
  }

  .About-image-yellowForm {
    left: 185px;
  }
}

@media (max-width: 905px) {
  .About {
    padding-left: 65px;
  }
}

@media (max-width: 767px) {
  .About {
    min-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .About-block-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .About-block-competency-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .About-image-block {
    background-image: url(/static/media/me.f2b4b1f5.jpg);
    height: 177px;
    width: 255px;
    background-repeat: no-repeat;
    border: 1px solid #e1ae00;
    border-radius: 3px;
  }

  .About-image-yellowForm {
    left: 117px;
    top: 107px;
  }
}

.About-callToActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 300px;
  padding-right: 190px;
  margin-top: 32px;
}

.About-contact {
  padding: 12px 20px;
  border: 2px solid #e1ae00;
  text-align: center;
  border-radius: 3px;
}

.About-contact:hover {
  background: rgba(225, 174, 0, 0.4);
}

.About-contact-text {
  margin: 0px;
  color: #e1ae00;
  font-weight: 400;
  letter-spacing: 1px;
}

.About-contact:hover .About-contact-text {
  color: #fff;
}

.About-myWork {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.About-myWork-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.About-myWork-text {
  color: #fff;
  font-weight: normal;
  letter-spacing: 1px;
}

.About-myWork-icon {
  color: #fff;
  font-size: 25px;
}
