.Header {
    position: fixed;
    z-index: 11;
    background: #000;
    width: 100%;
}

.Header-inner {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 30px;
}

.Title {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.Title-Return {
    display: none;
}

.Social-medias {
    display: flex;
    align-items: center;
}

.Dark-mode {
    margin-left: 50px;
}

@media (max-width: 905px) {
    .Title {
        font-size: 20px;
    }

    .Social-Media {
        display: none;
    }
}

@media (max-width: 520px) {

    .Header-inner {
        margin-left: 15px;
        width: 90%;
    }

    .Title {
        font-size: 16px;
    }

    .Title-Return {
        display: inline !important;
    }
}