.App {
  position: relative;
}

.SocialNetworks {
  position: absolute;
  left: 89%;
  bottom: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SocialNetworks-line {
  height: 140px;
  display: block;
  width: 1px;
  background-color: #e1ae00;
}

.SocialNetworks-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
  height: 62px;
}

.SocialNetworks-icon {
  color: #fff;
  font-size: 20px;
}
