html {
  background-color: #000;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Dosis', sans-serif;
}

a {
  text-decoration: none;
}
